QLIKTALENDDEMO/services/teste_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="teste"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="testeOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testeOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="testeOperationRequest">
		<wsdl:part name="parameters" element="tns:testeOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testeOperationResponse">
		<wsdl:part name="parameters" element="tns:testeOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="testePortType">
		<wsdl:operation name="testeOperation">
			<wsdl:input message="tns:testeOperationRequest"></wsdl:input>
			<wsdl:output message="tns:testeOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testeBinding" type="tns:testePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="testeOperation">
			<soap:operation soapAction="http://www.talend.org/service/testeOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="teste">
		<wsdl:port name="testePort" binding="tns:testeBinding">
			<soap:address location="http://localhost:8090/services/teste" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>